body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin: 10px 0;
  color: #2c3e50;
}

#map {
  height: 70vh;
  width: 100%;
}

#route-info {
  padding: 10px;
  background: #ecf0f1;
  text-align: center;
  font-weight: bold;
}
